*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,body{
    width: 100%;
}

.hsr-addTest-main{
    width: 98%;
    margin: 10px auto;
    /*height: 100px;*/
}

.hsr-addTest-main>p>span{
    font-size: 25px;
    font-weight: bold;
}
.hsr-addTest-main>p>button{
    float: right;
}


.hsr-addTest-main button{
    width: 80px;
    height: 30px;
    color: #fff;
    border-style: none;
    background-color: #53D192;
    margin-right: 5px;
    outline: none;
    border-radius: 5px;
}

.hsr-addTest-top,
.hsr-addTest-bottom{
    margin: 20px 40px;
}

.hsr-addTest-top>p>button{
    border: 1px solid #53D192;
    background-color: #fff;
    color: #53D192;
    /*margin-right: 5px;*/
}

#hsr-addTest-topBtn-act{
    background-color: #53D192;
    color: #fff;
}


.hsr-addTest-mid{
    margin-left: 92px;
}
.hsr-addTest-mid textarea{
    margin-left: 13px;
}


.hsr-addTest-top p,
.hsr-addTest-mid p,
.hsr-addTest-bottom p{
    line-height: 30px;
}

.hsr-addTest-top textarea,
.hsr-addTest-bottom textarea{
    margin-left: 65px;
}