*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,body{
    width: 100%;
}

.hsr-paper-main{
    width: 98%;
    margin: 10px auto;
    /*height: 100px;*/
}


.hsr-paper-main button{
    width: 80px;
    height: 30px;
    color: #fff;
    border-style: none;
    background-color: #53D192;
    margin-right: 5px;
    outline: none;
    border-radius: 5px;
}


.hsr-paper-con table{
    border-collapse: collapse;
}

.hsr-paper-con tr{
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}

.hsr-paper-con td{
    width: 0;
}

.hsr-paper-con tr>td:nth-child(1),
.hsr-paper-con tr>td:nth-child(2){
    width: 50px;
}
.hsr-paper-con tr>td:nth-child(3){
    width: 500px;
}
.hsr-paper-con tr>td:nth-child(4){
    width: 50px;
}

.hsr-paper-con tr>td:nth-child(5){
    width: 160px;
}
.hsr-paper-con tr>td:nth-child(6){
    width: 180px;
}



#hsr-paper-table{
    font-size: 14px;
    color: #5e5e5e;
}
#hsr-paper-table a{
    color: #5e5e5e;
}
#hsr-paper-table a:hover{
    cursor: pointer;
    text-decoration: underline;
}

